.bar {
    width:1000px;
    margin:auto;
    text-align:center;

   
}


table {
    border: 0;
    width: 100%;
    text-align:center;
}


.bg-grey {
    background-color: rgb(243, 235, 235);

}


.bg-blue {
    background-color: rgb(138, 201, 180);
}

